
.terms_wrapper li {
	margin: 1em 0px !important;
}

.terms_wrapper ul {
	padding-left: 2em;
}


.terms_wrapper > ul {
	padding: 0px;
}
.terms_wrapper > ul > li > label > input {
	display: none;
}

.terms_wrapper label {
	pointer-events: none;
}

.terms_wrapper label > input, .terms_wrapper label > b {
	pointer-events: all;
}
